# ML Framework
torch>=2.0.0
transformers>=4.30.0
datasets>=2.12.0

# Data Processing
pandas>=2.0.1
numpy>=1.24.3
scikit-learn>=1.2.2

# NLP
sentencepiece>=0.1.99
sacremoses>=0.0.53

# Utils
huggingface_hub>=0.15.1

# Development & Debugging
ipykernel>=6.23.1
jupyter>=1.0.0